.toggleButton {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggleButton:hover {
  background-color: var(--accent-color);
  /* color: #16c52e; */
}
